* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container style  */
.container {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: rgb(20, 20, 20);
    
}

/* main div style  */
.main {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 18, 18);
    border: 2px solid rgb(128, 123, 123);
    border-radius: 10px;
}


/* info div style  */
.infos {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    color: rgb(203, 207, 207);
    font-size: 20px;
    font-weight: 600;
}

.info {
    padding: 10px;
    border: 1px solid rgb(187, 183, 183);
    border-radius: 20px;
    background-color: rgb(31, 30, 29);
}

/* board style  */
.board {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(121, 118, 118);
    background-color: rgb(22, 22, 22);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
    gap: 0px;
    overflow: hidden;

}

.box {
    width: 30px;
    height: 30px;
    background-color: rgb(22, 22, 22);
    /* border: 0.5px solid rgb(26, 25, 25); */
    border: none;
    border-radius: 50%;
    color: rgb(209, 209, 209);
    font-size: small;
}

/* snake box style  */
.snake {
    background-color: white;
}

/* food box color  */
.food {
    background-color: red;
}

/* modal style  */
.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(31, 28, 28, 0.589);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.modal .start-game,
.modal .game-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.modal .game-over {
    display: none;
}

.btn {
    padding: 20px 30px;
    background-color: white;
    color: rgb(22, 21, 21);
    border: none;
    border-radius: 10px;
}